# Ignore virtual environment
.venv/

# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo

# Ignore model and data artifacts
*.pkl
# *.csv
*.log

# Ignore notebook checkpoints
*.ipynb_checkpoints/

# Ignore MLflow tracking and DVC cache
mlruns/
.dvc/cache/

# Ignore IDE/system files
.vscode/
.DS_Store
